.footer{
    width: 100%;
    height: 17.5%;
    background-color: #a03cfc;
    vertical-align: middle;
    position: relative;
}

.socials{
    
    /* border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    */
    /* font-size: xx-large; */
    font-size: xx-large;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center; 

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.socials::before{
    margin-top: 22px;
    content:"";
    display: block;
    width:100%;
    background: #fff;
    position: relative;
    height: 2px;
    border: 1px solid #fff;
    border-radius: 60px;
    padding:0;
}


.socials::after{
    margin-top: 22px;
    content:"";
    display: block;
    width:100%;
    background: #fff;
    position: relative;
    height: 2px;
    border: 1px solid #fff;
    border-radius: 60px;
    padding:0;
}

.fa {
    padding: 10px;
    font-size: 100px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    /* border-radius: 90px; */
    background: #a03cfc;
    justify-self: center;
    transition: 0.1s;
}
  
.fa:hover {
    opacity: 0.7;
    transition: 0.1s;
    transform: translateY(6px);
}

.fa:active {
    opacity: 0.4;
    transition: 0.1s;
    transform: translateY(6px);
}

.socials li:active {
    color: lightgrey;
    transition: 0.1s;
    box-shadow: 5 0px #683257;
}
  
.fa-facebook {      /*needed tweeking to make it same size as the rest*/
    /* background: #3B5998; */
    color: white;
    padding: 11px;
    padding-left: 14px;
    padding-right: 14px;
}

.fa-twitter {
    /* background: #55ACEE; */
    color: white;
}

.fa-linkedin {
    /* background: #007bb5; */
    color: white;
}

.fa-youtube {
    /* background: #bb0000; */
    color: white;
}

.fa-instagram {
    /* background: #d62976;    I actually had to search this :( */
    color: white;
}

.fa-reddit {
    /* background: #ff5700; */
    color: white;
}

.footer-logo{
    text-align: center;
    font-weight: bold;
    text-decoration:none;
}

.footer-logo a{
    text-decoration:none;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.footer-copyright{
    text-align: center;
    font-weight: bold;
    text-decoration:none;
    background-color: #a03cfc;
}

.footer-copyright a{
    text-decoration:none;
    cursor: pointer;
    color: white;
}