.header{
  color: #000;
  /* height: 20%; */
  vertical-align: middle;  
  position: sticky;
  /* box-shadow: 0 3px 5px rgba(57, 63, 72, 0.9); */
}

.header-container{
  background-color: #fff;
  /* border-bottom: 6px solid #000; */
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.6);
}

.header-container .button{
  position: absolute;
  justify-content: left;
}

/*TOP NAVIGATOR STYLE CSS*/

/* Style the links inside the navigation bar */
.header a{
  float: left;
  color:#000;
  border:#000;
  border-color: #000;
  border-width: thick;
  text-align: center;
  vertical-align: middle;
  padding: 10px 16px;
  text-decoration: none;
  font-size: x-large;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 30px;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: #efe1e9;
  /* background-color: #683257; */
  border-radius: 30px;
  color: #683257;
  /* color: #fff; */
  transition: 0.4s;
}

/* Add a color to the active/current link */
.header a:active {
  background-color: #683457;
  color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.4s;
}

.header-left{
  float: left;
  align-items: left;
}

/* Right-aligned section inside the top navigation */
.header-middle{
  margin: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.header-middle a{
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
}

.header-right .signup{
  border: 2px solid #683257;
  border-radius: 30px;
  color: #683257;
  transition: 0.5s;
  font-weight: 600;
  font-size: small;
  margin-left: 40px;
}

.header-right .signup:hover{
  color: #fff;
  background-color: #683257;
  transition: 0.5s;
}

.header-right .login{
  justify-content: center;
  box-shadow:50px, 50px, 50px,#000;
  margin: 2px;
  border-radius: 30px;
  color: #683257;
  transition: 0.5s;
  font-weight: 600;
  font-size: small;
  margin-left: 10px;
}

.header-right .login:hover{
  color: #fff;
  background-color: #683257;
  transition: 0.5s;

}

.header-right .language-button{
  float: left;
  margin-right: 15px;
}



/*dark mode button CSS code*/

input[type = "checkbox"] {
  visibility: hidden;
  display: none;
  appearance: none;
  -webkit-appearance: none;
}

label.container {
  float: left;
  justify-content: left;
  display: block;
  width: 60px;
  height: 30px;
  background: #f5f5f5; /*edge color*/
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  align-content: center;
  top: 5px;
}

label.shadow {  /* the "dent" of the button*/
  width: 50px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  left: 5px;
  top: 5px;
  box-shadow: inset 3px 3px 10px #969696,
              inset -3px -3px 5px #ffffffbd;
  cursor: pointer;
}

.container span { /*the dot*/
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffaa00;
  margin: 5px;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.3s ease-in;
  position: relative;
  left: 0;
  z-index: 1;
}

.container span::after {
  position: absolute;
  transition-delay: 5s;
}

input[type = "checkbox"]:checked ~ span {
  left: 29px;
  transition: 0.3s ease-in;
  background: #0a100d;  /*change color*/
  transform: rotate(220deg);
}


/*Sticky Header CSS code*/

/* Page content */
.content {
  padding-top: 0px;
  height:100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: none;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 4.3%; /*sweet spot on pc is 80*/
}