.header{
  overflow: hidden;
  color: #000;
  height: 20%;
  vertical-align: middle;  
}

.header-container{
  background-color: #fff;
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-container .button{
  position: absolute;
  justify-content: left;

}

/*TOP NAVIGATOR STYLE CSS*/

/* Style the links inside the navigation bar */
.header a{
  float: left;
  color:#000;
  border:#000;
  border-color: #000;
  border-width: thick;
  text-align: center;
  vertical-align: middle;
  padding: 10px 16px;
  text-decoration: none;
  font-size: x-large;
  cursor: pointer;
  transition: 0.4s;
}

/* Add a color to the active/current link */
.header a:active {
  background-color: #666;
  color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.1s;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: #efe1e9;
  border-radius: 30px;
  color: #683257;
  transition: 0.4s;
}

.header-left{
  float: left;
  align-items: left;
}

/* Right-aligned section inside the top navigation */
.header-middle{
  margin: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.header-middle a{
  font-size: small;
}

.header-middle .signup{
  box-shadow:50px, 50px, 50px,#000;
  border: 2px solid black;
  border-color: #683257;
  border-radius: 30px;
  color: #683257;
  transition: 0.5s;
  font-weight: 600;
  font-size: small;
  margin-left: 40px;
}

.header-middle .login{
  justify-content: center;
  box-shadow:50px, 50px, 50px,#000;
  border: 2px solid black;
  border-color: #683257;
  border-radius: 30px;
  color: #683257;
  transition: 0.5s;
  font-weight: 600;
  font-size: small;
  margin-left: 10px;
}

.header-middle .signup:hover{
  color: #fff;
  background-color: #683257;
  transition: 0.5s;
}

.header-middle a{
  font-weight: 600;
  font-size: small;
}


.header-right {
  width: 37,5%;
  float: right;
  float-items: right;
  vertical-align: middle;
  justify-content: right;
}

input[type = "checkbox"] {
  visibility: hidden;
  display: none;
  appearance: none;
  -webkit-appearance: none;
}

label.container {
  display: block;
  width: 60px;
  height: 30px;
  background: #d3d3d3;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: 9px 9px 29px #969696,
             -9px -9px 29px #ffffff;
  margin-right: 10px;
}

label.shadow {
  width: 50px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  left: 5px;
  top: 5px;
  box-shadow: inset 3px 3px 10px #969696,
              inset -3px -3px 5px #ffffffbd;
  cursor: pointer;
}

.container span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffaa00;
  margin: 5px;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.3s ease-in;
  position: relative;
  left: 0;
  z-index: 1;
}

.container span::after {
  position: absolute;
  top: 6px;
  left: 4px;
  transition-delay: 5s;
}

input[type = "checkbox"]:checked ~ span {
  left: 29px;
  transition: 0.3s ease-in;
  background: #0a100d;
  transform: rotate(220deg);
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 200px;
}