.header{
  color: #000;
  /* height: 20%; */
  vertical-align: middle;  
  position: sticky;
  z-index: 100;

  /* box-shadow: 0 3px 5px rgba(57, 63, 72, 0.9); */
}

.header-container{
  background-color: #fff;
  /* border-bottom: 6px solid #000; */
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header-container .logo{
	position: absolute;
	justify-content: left;
  width: 100px;
  height: 30px;
  left: 10px;
}

.header-container .logo img{
  object-fit: fill;
  max-width: 100px;
}

.header-container .mobile{
	display: none;
}

/*TOP NAVIGATOR STYLE CSS*/

/* Style the links inside the navigation bar */
.header a{
  float: left;
  color:#000;
  border:#000;
  border-color: #000;
  border-width: thick;
  text-align: center;
  vertical-align: middle;
  padding: 10px 25px;
  text-decoration: none;
  font-size: x-large;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 30px;
}

/* Change the color of links on hover */
.header a:hover {
  /* background-color: #efe1e9; */
  background-color: #683257;
  border-radius: 30px;
  /* color: #683257; */
  color: #fff;
  transition: 0.4s;
}

/* Add a color to the active/current link */
.header a:active {
  background-color: #683457;
  color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.4s;
}

.header-left{
  float: left;
  align-items: left;
}

/* Right-aligned section inside the top navigation */
.header-middle{
  margin: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.header-middle a{
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
  color: #B33EC6; 
  background-color: #B33EC61A;
}

.seperator{
  position: absolute;
  width: 0px;
  height: 40px;
  border: 1px solid #D3D3D3;
  margin-right: 60px;
}

.header-right{
  padding-top: 10px;
}

.header-right .signup{
  border-radius: 30px;
  color: #B33EC6; 
  transition: 0.5s;
  font-weight: 500;
  font-size: small;
  margin-left: 15px;
  margin-right: 15px;
  top: 5%;
  padding: 10px 25px;
  background-color: #B33EC61A;
}

.header-right .signup:hover{
  color: #fff;
  background-color: #683257;
  transition: 0.5s;
}


/* ###### Profile CSS ###### */
.header-right .pfp{
  position: relevant;
  /* border-radius: 30px; */
  /* color: #B33EC6;  */
  transition: 0.5s;
  font-weight: 500;
  font-size: small;
  margin-left: 15px;
  margin-right: 15px;
  top: 5%;
  /* padding: 10px 10px; */
  /* background-color: #B33EC61A; */
  padding: 0 0 0 0;

}

.header-right .pfp:hover{
  background-color: white;
}

.header-right .pfp img{
  /* position: absolute; */
  object-fit: contain;
  max-width: 40px;
  border-radius: 40%;
}

/* ###### Profile CSS ###### */


.header-right .login{
  justify-content: center;
  box-shadow:50px, 50px, 50px,#000;
  /* margin: 2px; */
  /* border-radius: 30px; */
  transition: 0.5s;
  font-weight: 500;
  font-size: small;
  margin-right: 15px;
  padding: 10px 25px;
  color: #B33EC6; 
}

.header-right .login:hover{
  color: #fff;
  background-color: #683257;
  transition: 0.5s;
}

.header-right .language-button-en{
  float: left;
  margin-right: 5px;
}

.header-right .language-button-en{
  float: left;
  margin-right: 25px;
}



/* Hide the link that should open and close the topnav on small screens */
.header-middle .icon {
  display: none;
}

@media screen and (max-width: 1220px) {
	.header-container{
		height: 60px;
	}

	.header-middle a {display: none;}
	/* .header-right a {display: none;} */
	/* .header label {display: none;} */
	.header a.icon {
		float: right;
		display: block;
	}
	/* .header-right .signup{display: flex;} */
	/* .header-right .login{display: flex;} */

	.header.responsive {position: relative;}
	.header.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-container .mobile{
		display: block;
	}
}

@media screen and (max-width: 640px) {
	.header-container{
		height: 60px;
	}

	.header-middle a {display: none;}
	.language-button-gr{display: none;} 
	.language-button-en{display: none;} 
	.header label {display: none;}
	.header a.icon {
		float: right;
		display: block;
	}
	/* .header-right .signup{display: flex;} */
	/* .header-right .login{display: flex;} */

	.header.responsive {position: relative;}
	.header.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-container .mobile{
		display: block;
	}
}

@media screen and (max-width: 360px) {
	.header-container{
		height: 60px;
	}

	.header-middle a {display: none;}
	.header-right a {display: none;}
	.header label {display: none;}
	.header a.icon {
		float: right;
		display: block;
	}	

	.header-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* .header-right .signup{display: flex;} */
	/* .header-right .login{display: flex;} */

	.header.responsive {position: relative;}
	.header.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-container .mobile{
		display: block;
	}
}

/*Sticky Header CSS code*/

/* Page content */
.header-content {
  padding-top: 0px;
  height:100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;  
  top: 0;
  width: 100%;
  box-shadow: none;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .header-content {
  padding-top: 5.9%; /*sweet spot on pc is 80*/
}


/*    content: "\f0c9"; for mobile menu icon/*