body {  
  background-color: #683257; 
  /* background-image: url("../media/photos/background.png"); */
  background-image: -webkit-image-set(scroll);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(white, rgba(255,153,204,1)); */
  font-family: 'Century Gothic' ,'Didact Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11pt;
  width: 100%;
  /* color: #ffffff; */
  margin: 0;
  padding: 0;
  height: 100%;
}




/*jesus plz take the wheel*/



/*Sticky Top Nav Attempt*/




/* parallax effect attempt

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  background-color: white;
  transform: translateZ(0);
}
.parallax__layer--back {
  background-color: cyan;
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  background-color: blue;
  transform: translateZ(-2px) scale(3);
}
.parallax__group {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
} */

.welcome{
  padding:0;
  margin:0;
}

.welcome1 {
  /* background-size: contain; */
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
}

.welcome1 img{
  /* background-size: contain; */
  max-width: 100%;
  max-height: 100%;

}

.welcome2{
  /* background-size: contain; */
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
}

.welcome2 img{
  /* background-size: contain; */
  max-width: 100%;
  max-height: 100%;

}

.welcome3{
  /* background-image: url("../media/photos/background2.png"); */
  background-image: cover;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
}

.welcome3_1{
  /* background-image: url("../media/photos/background2.png"); */
  background-image: cover;
  width: 60%;
  height: 100%;
  color: red;
  background-color: #eee;
  justify-self: left;
}

.welcome3_2{
  /* background-image: url("../media/photos/background2.png"); */
  background-image: cover;
  width: 40%;
  height: 100%;
  background-color: #fff;
  margin:0;
  padding:0;
  justify-self: right;
}

.welcome3 img{
  /* background-image: url("../media/photos/background2.png"); */
  background-image: cover;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
