html{
  height: 100%;
  width: 100%;
}


body{  
  background-color: #fff; 
  /* background-image: url("../media/photos/background.png"); */
  background-image: -webkit-image-set(scroll);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(white, rgba(255,153,204,1)); */
  font-family: 'Century Gothic' ,'Didact Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11pt;
  width: 100%;
  /* color: #ffffff; */
  margin: 0;
  padding: 0;
  height: 100%;
}

.welcome1 {
  background-image: url("../media/photos/background.png");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome1 .title{
  font-size: 120px;
  font-weight: bolder;
  vertical-align: baseline;
  text-align: center;
}

.welcome1 .learn-more-button{
  padding: 30px;
  background-color: #a03cfc;
  border-radius: 60px;
  color: #ffffff;
  font-size: medium;
  transition: 0.5s;
}

.welcome1 .learn-more-button:hover{
  background-color: #683257;
  transition: 0.5s;
  cursor: pointer;
}

.welcome2{
  background-image: url("../media/photos/background2222.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.welcome2 .title{
  margin-left: 5%;
  font-size: 50px;
  font-weight:bolder;
  vertical-align: baseline;
  text-align-last: left;
}

.welcome2 .content{
  width: 42.5%;
  margin-left:5%;
  font-size: 25px;
  font-weight:bolder;
  vertical-align: baseline;
  text-align-last: left;
}

.welcome2 .learn-more-button{
  padding: 30px;
  background-color: #a03cfc;
  border-radius: 60px;
  color: #ffffff;
  font-size: medium;
  transition: 0.5s;
  }

.welcome2 .learn-more-button:hover{
  background-color: #683257;
  transition: 0.5s;
  cursor: pointer;
}

.welcome3{
  overflow: hidden;
  background-color: #a03cfc; /*debugging purposes*/
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  padding-bottom: 20%; 
}

.welcome3_1{
  background-color: #ffffff;
  width: 80%;
  height: 150%;
}

.welcome3_1 .main_title{
  color:#000;
  font-size: x-large;
  font-weight:bolder;
  margin-left:5%
}

.welcome3_1 .main_content{
  color:#000;
  font-size: x-large;
  margin-left:5%
}

.welcome3 .learn-more-button{
  padding: 30px;
  background-color: #a03cfc;
  border-radius: 60px;
  color: #ffffff;
  font-size: medium;
  font-weight: bolder;
  transition: 0.5s;
  }

.welcome3 .learn-more-button:hover{
  background-color: #683257;
  transition: 0.5s;
  cursor: pointer;
}

.welcome3_2{
  background-color: #a03cfc; /*debugging purposes */
  background-image: url("../media/photos/background3.png");
  width: 32.5%;
  height: 150%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; 
  justify-self: right;
}

@media screen and (min-width: 1350px) {
	.welcome3_1{
		background-color: #ffffff;
		width: 100%;
		height: 150%;
	}

	.welcome3_2{
		background-color: #a03cfc; /*debugging purposes */
		background-image: url("../media/photos/background3.png");
		width: 37%;
		height: 150%;
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain; 
		justify-self: right;
	}

	.welcome3{
		overflow: hidden;
		background-color: #a03cfc; /*debugging purposes*/
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-bottom: 20%; 
	}

	.welcome3_1 .main_title{
		color:#000;
		font-size: x-large;
		font-weight:bolder;
		margin-left:5%;
		margin-top:5%;
	}
  
	.welcome3_1 .main_content{
		color:#000;
		font-size: large;
		margin-left:5%;
		margin-bottom: 5%;
	}
  
  	.welcome3_1 .learn-more-button{
		padding: 30px;
		background-color: #a03cfc;
		border-radius: 60px;
		color: #ffffff;
		font-size: medium;
		font-weight: bolder;
		transition: 0.5s;
	}
}

@media screen and (max-width: 1350px) {
	.welcome3_1{
		background-color: #ffffff;
		width: 75%;
		height: 150%;
	}

	.welcome3_2{
		background-color: #a03cfc; /*debugging purposes */
		background-image: url("../media/photos/background3.png");
		width: 36.5%;
		height: 150%;
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain; 
		justify-self: right;
	}

	.welcome3{
		overflow: hidden;
		background-color: #a03cfc; /*debugging purposes*/
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-bottom: 20%; 
	}

	.welcome3_1 .main_title{
		color:#000;
		font-size: x-large;
		font-weight:bolder;
		margin-left:5%;
		margin-top:5%;
	}
  
	.welcome3_1 .main_content{
		color:#000;
		font-size: large;
		margin-left:5%;
		margin-bottom: 5%;
	}
  
  	.welcome3_1 .learn-more-button{
		padding: 30px;
		background-color: #a03cfc;
		border-radius: 60px;
		color: #ffffff;
		font-size: medium;
		font-weight: bolder;
		transition: 0.5s;
	}
}


@media screen and (max-width: 1212px) {
	.welcome3_1{
		background-color: #ffffff;
		width: 67.5%;
		height: 150%;
	}

	.welcome1 .title{
		font-size: 100px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align: center;
		padding-top: 7.5%;
	}

	.welcome3_2{
		background-color: #a03cfc; /*debugging purposes */
		background-image: url("../media/photos/background3.png");
		width: 38.5%;
		height: 150%;
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain; 
		justify-self: right;
	}

	.welcome3{
		overflow: hidden;
		background-color: #a03cfc; /*debugging purposes*/
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-bottom: 20%; 
	}

	.welcome3_1 .main_title{
		color:#000;
		font-size: x-large;
		font-weight:bolder;
		margin-left:5%;
		margin-top:5%;
	}
  
	.welcome3_1 .main_content{
		color:#000;
		font-size: large;
		margin-left:5%;
		margin-bottom: 5%;
	}
  
  	.welcome3_1 .learn-more-button{
		padding: 30px;
		background-color: #a03cfc;
		border-radius: 60px;
		color: #ffffff;
		font-size: medium;
		font-weight: bolder;
		transition: 0.5s;
	}
}

@media screen and (max-width: 1048px) {
	.welcome3_1{
		background-color: #ffffff;
		width: 60%;
		height: 150%;
	}

	.welcome1 .title{
		font-size: 85px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align: center;
		padding-top: 7.5%;
	}

	.welcome3_2{
		background-color: #a03cfc; /*debugging purposes */
		background-image: url("../media/photos/background3.png");
		width: 40%;
		height: 150%;
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain; 
		justify-self: right;
	}

	.welcome3{
		overflow: hidden;
		background-color: #a03cfc; /*debugging purposes*/
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-bottom: 20%; 
	}

	.welcome3_1 .main_title{
		color:#000;
		font-size: x-large;
		font-weight: bolder;
		margin-left: 5%;
		margin-top: 5%;
	}
  
	.welcome3_1 .main_content{
		color:#000;
		font-size: large;
		margin-left: 5%;
		margin-bottom: 5%;
	}
  
  	.welcome3_1 .learn-more-button{
		padding: 30px;
		background-color: #a03cfc;
		border-radius: 60px;
		color: #ffffff;
		font-size: medium;
		font-weight: bolder;
		transition: 0.5s;
	}
}

@media screen and (max-width: 970px) {
	.welcome3_1{
		background-color: #ffffff;
		width: 100%;
		height: 150%;
	}

	.welcome1 .title{
		font-size: 75px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align: center;
		padding-top: 7.5%;
	}

	.welcome3_2{
		background-color: #a03cfc; /*debugging purposes */
		background-image: url("../media/photos/background3.png");
		width: 87%;
		height: 150%;
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain; 
		justify-self: right;
	}

	.welcome3{
		overflow: hidden;
		background-color: #a03cfc; /*debugging purposes*/
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-bottom: 20%; 
	}

	.welcome3_1 .main_title{
		color:#000;
		font-size: x-large;
		font-weight: bolder;
		margin-left: 5%;
		margin-top: 5%;
	}
  
	.welcome3_1 .main_content{
		color:#000;
		font-size: large;
		margin-left: 5%;
		margin-bottom: 5%;
	}
  
  	.welcome3_1 .learn-more-button{
		padding: 30px;
		background-color: #a03cfc;
		border-radius: 60px;
		color: #ffffff;
		font-size: medium;
		font-weight: bolder;
		transition: 0.5s;
	}
}