html{
  height: 100%;
  width: 100%;
}


body{  
  background-color: #fff;
  /* background-image: url("../media/photos/background.png"); */
  background-image: -webkit-image-set(scroll);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(white, rgba(255,153,204,1)); */
  font-family: 'Century Gothic' ,'Didact Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11pt;
  width: 100%;
  /* color: #ffffff; */
  margin: 0;
  padding: 0;
  height: 100%;
}
  
.welcome1 {
  background-image: url("../media/photos/background.png");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content {
  width: 330px;
  padding: 40px 30px 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94,104,121,0.288);
  margin-top: 5%;
  margin-bottom: 17.5%;
}

.content .text {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #a03cfc;
  text-align: center;
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  position:static;
}

.field:not(:first-child){
  margin-top: 20px;
}

.field .input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #fff;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
  inset -5px -5px 10px #ffffff73;
}

.field .input::placeholder{
  opacity: 0.5;
}
  
.field .input:focus {
  box-shadow: inset 1px 1px 2px #BABECC,
  inset -1px -1px 2px #ffffff73;
}
  
.field .span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 55px;
}

.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

.form-button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #a03cfc;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 2px 5px #BABECC,
  -5px -5px 10px #ffffff73;
  transition: 0.3s;
}

.form-button:hover {
  background-color: #683257;
  transition: 0.3s;
  cursor: pointer;
}

.form-button:focus {    /* for tab accessibitity*/
  box-shadow: inset 2px 2px 5px #BABECC,
  inset -5px -5px 10px #ffffff73;
}


.form-button:active {    
  background-color: #683457;
  color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.3s;
}


.form-button-disabled {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #555455;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #b4b0b0;
  box-shadow: 2px 2px 5px #BABECC,
              -5px -5px 10px #ffffff73;
  transition: 0.3s;
}
  
  
.sign-up {
  	margin: 10px 0;
  	color: #595959;
  	font-size: 16px;
}

.sign-up a {
  	color: #3498db;
  	text-decoration: none;
}

.sign-up a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1008px) {
	.content{
		width: 80%;
		height: 60%;
		margin: 10%;
		padding: 50px 50px 0 50px;
  	}

    .sign-up{
      color:#000;
      font-size: larger;
    }
}

@media screen and (max-width: 747px) {
	.welcome1{
		height: 100%;
	}

	.content{
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .sign-up{
    font-weight: bolder;
    color:#000;
    font-size: larger;
  }

  .sign-up a{
      color:blue;
  }

}