html{
  height: 100%;
  width: 100%;
}


body{  
  background-color: #fff; 
  /* background-image: url("../media/photos/background.png"); */
  background-image: -webkit-image-set(scroll);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(white, rgba(255,153,204,1)); */
  font-family: 'Inter', 'Century Gothic' ,'Didact Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11pt;
  width: 100%;
  /* color: #ffffff; */
  margin: 0;
  padding: 0;
  height: 100%;
}

.more4{
    height: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 10%;
    background-image: url("../media/photos/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


* {
    box-sizing: border-box;
}
  
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 50px 50px 50px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #a03cfc;
    color: white;
}

.card-icon{
    font-size: 150px;
    background: none;
    border: 0;
}

.card-icon::before{
    font-size: 150px;
    background-color: #a03cfc;
    border: 0;
}

.more { /*acts as a container*/
    background-image: url("../media/photos/background.png");
    width: 100%;
    height: 175%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


.more {
    background-image: url("../media/photos/background.png");
    width: 100%;
    height: 115%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.more-info {
    width: 50%;
    height: 100%;
}

.more-title{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 50px;
    font-weight:bolder;
    vertical-align: baseline;
    text-align: center;
}

.more-content {
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    font-size: 20px;
    font-weight:bolder;
    vertical-align: baseline;
}

.more-video {
    width: 50%;
}

.more-video video{
    margin: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-self: center;
}

.more-video img{
    display: block;
    width: 60%;
    height:35%;
    object-fit:fill;
    margin: auto;
	margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 
@media screen and (max-width: 800px) {
    .more-video {
        width: 100%;
    }

    .more-info {
        width: 100%;
    }
} */

.more2{
    background-image: url("../media/photos/background2.png");
    width: 100%;
    height: 150%;
    background-size: cover;
}
  
.more2 .title{
    margin-left: 5%;
    font-size: 50px;
    font-weight:bolder;
    vertical-align: baseline;
    text-align-last: left;
}
  
.more2 .content{
    width: 42.5%;
    margin-left:5%;
    font-size: 25px;
    font-weight:bolder;
    vertical-align: baseline;
    text-align-last: left;
}



@media screen and (max-width: 1440px) {
	body{
		height: 250%;
	}

	.more{
		height: 50%;
	}

	.more-title{
		font-size: 40px;
	}
	
	.more-content {
		font-size: 20px;
	}
	

	.more-video video{
		margin: 10%;
		margin-top: 20%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		justify-self: center;
	}

	.more-video img{
		display: block;
		width: 60%;
		height: 25%;
		object-fit:fill;
		margin: auto;
		margin-top: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.more2{
		background-image: url("../media/photos/background2.png");
		width: 100%;
		height: 50%;
		background-size: cover;
	}

	.more2 .title{
		margin-top: 0;
		margin-left: 5%;
		font-size: 30px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.more2 .content{
		width: 40%;
		margin-left:5%;
		font-size: 20px;
		font-weight:bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.more4{
		height: 60%;
	}

	.column {
		width: 50%;
		display: block;
		margin-bottom: 10px;
	}

  	.card-icon::before{
		font-size: 100px;
		background-color: #a03cfc;
		border: 0;
	}

}

@media screen and (max-width: 1008px) {
	body{
		height: 250%;
	}

	.more{
		height: 50%;
	}

	.more-title{
		font-size: 40px;
	}
	
	.more-content {
		font-size: 20px;
	}

	
	
	

	.more-video video{
		margin: 10%;
		margin-top: 20%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		justify-self: center;
	}

	.more-video img{
		display: block;
		width: 60%;
		height: 25%;
		object-fit:fill;
		margin: auto;
		margin-top: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.more2{
		background-image: url("../media/photos/background2.png");
		width: 100%;
		height: 50%;
		background-size: cover;
	}

	.more2 .title{
		margin-top: 0;
		margin-left: 5%;
		font-size: 30px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.more2 .content{
		width: 60%;
		margin-left:5%;
		font-size: 20px;
		font-weight:bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.more4{
		height: 60%;
	}

	.column {
		width: 50%;
		display: block;
		margin-bottom: 10px;
	}

  	.card-icon::before{
		font-size: 100px;
		background-color: #a03cfc;
		border: 0;
	}

	
}

@media screen and (max-width: 747px) {
	body{
		height: 400%;
	}
	
	.more{
		height: 50%;
	}

	.more-info {
		width: 100%;
		height: 15%;
	}

	.more-video {
		width: 100%;
	}

	.more-title{
		font-size: 35px;
	}
	
	.more-content {
		font-size: 15px;
	}

	.more-video video{
		width: 80%
	}

	.more-video img{
		display: block;
		width: 80%;
		height:20%;
		object-fit:fill;
		margin: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.more2{
		background-image: url("../media/photos/background2.png");
		width: 100%;
		height: 25%;
		background-size: cover;
	}

	.more2 .title{
		margin-left: 5%;
		font-size: 30px;
		font-weight: bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.more2 .content{
		width: 80%;
		margin-left:5%;
		font-size: 18px;
		font-weight:bolder;
		vertical-align: baseline;
		text-align-last: left;
	}

	.column {
		width: 100%;
		display: block;
	}
  
	.card-icon::before{
		font-size: 80px;
		background-color: #a03cfc;
		border: 0;
	}
}